.spot-map__container {
    /* box-sizing: border-box; */
    width: 400px;
    height: 400px;
    /* display: flex; */
    overflow: hidden;
    /* text-align: center; */
    border: 1px solid red;
    border-radius: 45px;
    z-index: 1;
}