.spot-map__container {
    /* box-sizing: border-box; */
    width: 80%;
    height: 400px;
    /* display: flex; */
    overflow: hidden;
    /* text-align: center; */
    border: 2px solid silver;
    border-radius: 15px;
    z-index: 1;
}