.search-bar__container {
    box-sizing: border-box;
    display: flex;
    width: 350px;
    height: 100px;
    align-items: center;
}

.search-bar {
    color: black;
    border: none;
    width: 330px;
    height: 40%;
    border-radius: 10px 0px 0px 10px;
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px;
}

.search-bar:focus {
    outline: none;
}

.search-button {
    border-radius: 0px 10px 10px 0px;
    background-color: black;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    height: 40%;
    width: 15%;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
}

.search-button:hover {
    background-color: gray;
}

.search-button:active {
    filter: invert(100);   
}

.front-page {
    box-sizing: border-box;
    background-image: url('../../search-bar.jpeg');
    background-size: 100% 100%;
    height: 400px;
    width: 100%;
    font-size: 100px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar__front-page {
    border: none;
    width: 30%;
    height: 15%;
    border-radius: 10px 0px 0px 10px;
    text-decoration: none;
    font-size: 22px;
    padding-left: 1.5%;
}

.search-bar__front-page:focus {
    outline: none;
}

.search-button__front-page {
    border-radius: 0;
    background-color: black;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    height: 15%;
    width: 4%;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
}

.search-button__front-page:hover {
    background-color: gray;
}

.search-button__front-page:active {
    filter: invert(100);
}

.reset-button {
    border: none;
    font-size: 18px;
    height: 15%;
    border-left: 1px solid gray;
    border-radius: 0px 10px 10px 0px;
    background-color: black;
    color: white;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
}

.reset-button:hover {
    background-color: gray;
}

.reset-button:active {
    color: black;
}
