.spot-tile__container {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    height: 400px;
    width: 400px;
    background-size: 400px 400px;
    font-family: 'Jacques Francois', serif;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 3%;
    border: 1px solid black;
    border-width: 2px 4px;
    border-radius: 40px;
    overflow: hidden;
    padding: 1%;
}

.spot-tile__container:hover {
    box-shadow: 0 10px 10px 5px #062743;
}