.spot-tile__container {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    height: 333px;
    width: 500px;
    background-size: 500px 333px;
    font-family: 'Yesteryear', cursive;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 1%;
    border: 1px hidden;
    border-width: 2px 4px;
    border-radius: 5px;
    overflow: hidden;
    padding: 1%;
}

.spot-tile__container:hover {
    box-shadow: 0 10px 10px 5px #062743;
}