.review-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    width: 500px;
    height: 150px;
    border: 0.5px solid silver;
    /* border-width: 2px 4px; */
    border-radius: 15px;
}

.review-box:hover {
    box-shadow: 0 10px 10px 5px #062743;
}

.review-title {
    stroke: white;
    stroke-dasharray: 100px;
    /* stroke-dashoffset: 1000px; */
    font-family: 'Yesteryear', cursive;
    font-size: 50px;
    color: black;
    /* text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}