.spot-page-form__container {
    /* background-color: aqua; */
    background-image: url("../../1.jpeg");
    height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 3px 3px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 30px;
    box-sizing: border-box;
    margin-top: 100px;
    animation: switchEffect ease-in 10s;
    animation-iteration-count: infinite;
    animation-direction: forwards;
}

.spot-page__form {
    /* margin-bottom: 50%; */
    display: flex;
    /* border: 1px solid red; */
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@keyframes switchEffect {
    0% {
        opacity: 1;
    } 10% {
        opacity: 1;
        background-image: url("../../2.jpeg");
        
    } 20% {
        opacity: 1;
    } 30% {
        
        opacity: 1;
        background-image: url("../../3.jpeg");
        
    } 40% {
        opacity: 1;
        
    } 50% {
        
        opacity: 1;
        background-image: url("../../4.jpeg");
    } 60% {
        opacity: 1;
        
    } 70% {
        opacity: 1;
        background-image: url("../../5.jpeg");
    } 80% {
        opacity: 1;
        
    } 90% {
        opacity: 1;
        background-image: url("../../6.jpeg");
    }
    100% {
        opacity: 1;
        
    }
}