.spot-page-form__container {
    background-color: black;
    background-image: url("../../1.jpeg");
    height: calc(100vh - 67.5px);
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: white;
    text-shadow: 3px 3px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 30px;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 100px;
    animation: switchEffect ease-in-out 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}

.spot-page__form {
    width: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.create-spot-form-box{
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 16px 1px 10px;
    font-size: 1.25vw;
    color: white;
    overflow: auto;
    resize: none;
    box-sizing: border-box;
    width: 80%;
    height: 5vh;
    transition: background-color ease-in 0.25s;
}

.create-spot-form-box::placeholder {
    color: rgb(170, 170, 170);
}

.create-spot-form-box:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.create-spot-form-box:focus {
    background-color: white;
    color: black;
}

.create-spot-form-box:focus::placeholder {
    color: rgb(170, 170, 170);
}

@keyframes switchEffect {
    10%, 20% {
        opacity: 1;
        background-image: url("../../2.jpeg");
        
    } 30%, 40% {
        opacity: 1;
        background-image: url("../../3.jpeg");

    } 50%, 60% {
        opacity: 1;
        background-image: url("../../4.jpeg");

    } 70%, 80% {
        opacity: 1;
        background-image: url("../../5.jpeg");

    } 90%, 100% {
        opacity: 1;
        background-image: url("../../6.jpeg");
    }
}