/* TODO Add site wide styles */
html, body {
    background-color: #fffafa;
    margin: 0;
    padding: 0;
    /* height: 100vh;
    width: 100vw; */
    /* overflow: hidden; */
    /* color: white; */
}

* {
    box-sizing: border-box;
}

/* page__container {
    box-sizing: border-box;
    max-height: 100%;
} */