.front-page__container {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    /* width: 100vw; */
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 3%;
    gap: 3%;
}
