.front-page__container {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 3% 3% 0 3%;
    min-height: calc(100vh - 567.5px);
    gap: 3%;
}
