.navbar__container {
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    height: 100px;
    position: fixed;
    /* position: absolute; */
    width: 100%;
    z-index: 99;
    top: 0;
    background-color: black;
    /* border-bottom: 1px dotted black; */
}

.navbar__container > ul {
    box-sizing: border-box;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    width: 70%;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Jacques Francois', serif;
    /* border: 1px solid white; */
}

/* .navbar-home {
    color: white;
    text-decoration: none;
    padding-right: 10%;
} */

.navbar-post {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 1px solid white; */
}

.profile-dropdown {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: auto;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    padding-bottom: 5px;
}

.dropdown {
    /* border: 1px solid red; */
    /* height: 500px; */
    width: 250px;
    margin-right: 1%;
    margin-left: 1%;
    
}

.logo{
    position: relative;
    font-size: 50px;
    font-family: 'Yesteryear', cursive;
    font-weight: 900;
    color: white;
    align-self: center;
    padding-left: 3%;
    cursor: pointer;
    filter: contrast(500%);
}

.signup-button {
    text-decoration: none;
    color: white;
}