.login-page__container {
    background-color: aqua;
    background-image: url("../../login-page.jpg");
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 3px 3px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 30px;
    box-sizing: border-box;
    animation: fadeInEffect ease-in 2s;
    animation-iteration-count: 1;
    animation-direction: forwards;
}

.login-page__form {
    /* margin-bottom: 50%; */
    display: flex;
    /* border: 1px solid red; */
    height: 315px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-button {
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Jacques Francois', serif;
    border-color: #f9f9f9;
    border-style: hidden;
    border-radius: 45%;
}

.demo-user__button {
    padding: 5px 15px;
    font-size: 20px;
    font-family: 'Jacques Francois', serif;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 0.5px solid silver;
    transition: all ease-in 0.5s;

}

.demo-user__button:hover {
    background-color: whitesmoke;
    color: black;
    border: 0.5px solid silver;

}

@keyframes fadeInEffect {
    0% {
        opacity: 0;
        /* filter: grayscale(1); */
    }
    100% {
        opacity: 1;
        /* filter: grayscale(0); */
    }
}