.login-page__container {
    background-color: aqua;
    background-image: url("../../login-page.jpg");
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 3px 3px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 30px;
    box-sizing: border-box;
    animation: fadeInEffect ease-in 2s;
    animation-iteration-count: 1;
    animation-direction: forwards;
}

.login-page__form {
    /* margin-bottom: 50%; */
    display: flex;
    /* border: 1px solid red; */
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@keyframes fadeInEffect {
    0% {
        opacity: 0;
        /* filter: grayscale(1); */
    }
    100% {
        opacity: 1;
        /* filter: grayscale(0); */
    }
}